@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Open+Sans:wght@300&display=swap');



body{
    /* Fontes:
    font-family: 'Birthstone', cursive;
    font-family: 'Open Sans', sans-serif;
    */
    /* paleta de cores*/
    --cor1: #000000;
    --cor2: #a552f3;
    --cor3: #bd1818;
    --cor4: #ffff00;
    --cor5: #e9e5e5;
    --cor6: #39edf0;

  
    background-image: url(../assets/Harry-Potter-na-TV.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
   
    

}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form {
    box-sizing: border-box;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 10px;
    border: 1px solid var(--cor2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
form h1 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
}


.mb-3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 80%;
}

.btn-custom {
    background-color: var(--cor2);
    width: 50%;
}

.btn-custom:hover {

    background-color: var(--cor6);
    
}

.form-control:hover {

    padding: 10px;
}

.check-custom {
    
    transition-duration: .5s;
}
.check-custom:checked {
    border-color: red;
    transform: scale(1.5);
}

@media (max-width: 768px) {

    body {
        background-position: center;
    }
}



@media (max-width: 500px) {

    body {
        background-image: none;
        background-color: var(--cor1);
    }

    form {
        border: none;
    }
}
